### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
student_data = pd.read_csv(student_data_to_load)
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
# Calculate the total number of schools
# len(school_data)

total_schools = len(school_data)
total_schools

15

In [6]:
# Calculate the total number of students
# len(student_data)

total_students = len(student_data)
total_students

39170

In [7]:
# Identify incomplete rows - Schools
school_data.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [8]:
school_data.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [9]:
# Identify incomplete rows - Students
student_data.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [10]:
student_data.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [11]:
# Calculate the total budget
Total_Budget= sum(school_data['budget'])
Total_Budget

24649428

In [12]:
# Calculate the average math score
Total_MathScore = sum(student_data['math_score'])
Total_MathScore

Avg_MathScore = (Total_MathScore / len(student_data))
Avg_MathScore

78.98537145774827

In [13]:
# Calculate the average reading score
Total_ReadingScore = sum(student_data['reading_score'])
Total_ReadingScore

Avg_ReadingScore = (Total_ReadingScore / len(student_data))
Avg_ReadingScore

81.87784018381414

In [14]:
# Calculate the overall passing rate (overall average score), 
# i.e. (avg. math score + avg. reading score)/2

# Avg_mScore = int(round(Avg_MathScore))
# Avg_mScore

# Avg_rScore = int(round(Avg_ReadingScore))
# Avg_rScore

# Overall_AvgScore = sum(Avg_mScore + Avg_rScore)
# Overall_AvgScore

Avg_0 = student_data.describe()
Avg_0

# Avg = sum(Avg_0.iloc[2,1] + Avg_0.iloc[2,2]) / 2

         Student ID  reading_score    math_score
count  39170.000000    39170.00000  39170.000000
mean   19584.500000       81.87784     78.985371
std    11307.549359       10.23958     12.309968
min        0.000000       63.00000     55.000000
25%     9792.250000       73.00000     69.000000
50%    19584.500000       82.00000     79.000000
75%    29376.750000       91.00000     89.000000
max    39169.000000       99.00000     99.000000

In [20]:
#  Calculate the percentage of students with a passing math score (70 or greater)

# student_data.max()
# student_data.min()
# student_data.describe()


#S_mPC = (student_data['math_score'] >= 70).count()
#S_mPC

#Student_mPC = percent(student_data )

math_pass_count = school_data_complete['math_score'][school_data_complete['math_score'] >= 70].count()
math_pass_percent = math_pass_count / total_students * 100
math_pass_percent

74.9808526933878

In [21]:
# Calculate the percentage of students with a passing reading score (70 or greater)

read_pass_count = school_data_complete['reading_score'][school_data_complete['reading_score'] >= 70].count()
read_pass_percent = read_pass_count / total_students * 100
read_pass_percent

85.80546336482001

In [45]:
# Create a dataframe to hold the above results

# District_Summary = pd.DataFrame({"Total Schools": total_schools, 

District_Summary = pd.DataFrame({"Total Schools": [total_schools], 
                       "Total Students": total_students, 
                       "Total Budget": Total_Budget, 
                       "Average Math Score": Avg_MathScore, 
                       "Average Reading Score":Avg_ReadingScore, 
                       "Avg Math Pass %":math_pass_percent, 
                       "Avg Reading Pass %": read_pass_percent})

District_Summary["Total Budget"] = District_Summary["Total Budget"].apply(format)
District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Avg Math Pass %,Avg Reading Pass %
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463

In [40]:
# Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [ ]:
# school_data_complete

Summary_S = school_data_complete.groupby('school_name')
Summary_S



# School_Summary = school_data_complete.groupby('school_name')

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
math_score =

## Scores by School Type

* Perform the same operations as above, based on school type.